# Limpieza de Datos dataset: Salary_Survey
## Importar librerias necesarias

In [404]:
import pandas as pd
import numpy as np
import re
import unicodedata

## Cargar el Dataset con la información suministrada

In [ ]:

SHEET_ID = "1IPS5dBSGtwYVbjsfbaMCYIWnOuRmJcbequohNxCyGVw"
GID = "1625408792"

csv_url = f"https://docs.google.com/spreadsheets/d/{SHEET_ID}/export?format=csv&gid={GID}"
df = pd.read_csv(csv_url)

print(df.shape)
df.head(3)

(28191, 18)

,Timestamp,How old are you?,What industry do you work in?,Job title,"If your job title needs additional context, please clarify here:","What is your annual salary? (You'll indicate the currency in a later question. If you are part-time or hourly, please enter an annualized equivalent -- what you would earn if you worked the job 40 hours a week, 52 weeks a year.)","How much additional monetary compensation do you get, if any (for example, bonuses or overtime in an average year)? Please only include monetary compensation here, not the value of benefits.",Please indicate the currency,"If ""Other,"" please indicate the currency here:","If your income needs additional context, please provide it here:",What country do you work in?,"If you're in the U.S., what state do you work in?",What city do you work in?,How many years of professional work experience do you have overall?,How many years of professional work experience do you have in your field?,What is your highest level of education completed?,What is your gender?,What is your race? (Choose all that apply.)
0,4/27/2021 11:02:10,25-34,Education (Higher Education),Research and Instruction Librarian,NaN,"55,000",0.0,USD,NaN,NaN,United States,Massachusetts,Boston,5-7 years,5-7 years,Master's degree,Woman,White
1,4/27/2021 11:02:22,25-34,Computing or Tech,Change & Internal Communications Manager,NaN,"54,600",4000.0,GBP,NaN,NaN,United Kingdom,NaN,Cambridge,8 - 10 years,5-7 years,College degree,Non-binary,White
2,4/27/2021 11:02:38,25-34,"Accounting, Banking & Finance",Marketing Specialist,NaN,"34,000",NaN,USD,NaN,NaN,US,Tennessee,Chattanooga,2 - 4 years,2 - 4 years,College degree,Woman,White

In [ ]:
df_base=df.copy()

In [444]:
df=df_base.copy()

In [445]:
df.columns

Index(['Timestamp', 'How old are you?', 'What industry do you work in?',
       'Job title',
       'If your job title needs additional context, please clarify here:',
       'What is your annual salary? (You'll indicate the currency in a later question. If you are part-time or hourly, please enter an annualized equivalent -- what you would earn if you worked the job 40 hours a week, 52 weeks a year.)',
       'How much additional monetary compensation do you get, if any (for example, bonuses or overtime in an average year)? Please only include monetary compensation here, not the value of benefits.',
       'Please indicate the currency',
       'If "Other," please indicate the currency here: ',
       'If your income needs additional context, please provide it here:',
       'What country do you work in?',
       'If you're in the U.S., what state do you work in?',
       'What city do you work in?',
       'How many years of professional work experience do you have overall?',
       'How many years of professional work experience do you have in your field?',
       'What is your highest level of education completed?',
       'What is your gender?', 'What is your race? (Choose all that apply.)'],
      dtype='object')

## Renombrar las Columnas:
Debido a que tienen nombres demasiado extensos, es encesario renombrar las variables con palabras claves, para evitar confusiones y eliminiar ruido en los nombres

In [446]:
rename_map = {
    # Fecha
    "Timestamp": "timestamp",
    # Edad
    "How old are you?": "rango_edad",
    # Industria / trabajo
    "What industry do you work in?": "industria",
    "Job title": "nombre_trabajo",
    "If your job title needs additional context, please clarify here:": "info_adicionales_trabajo",
    # Salarios
    "What is your annual salary? (You'll indicate the currency in a later question. If you are part-time or hourly, please enter an annualized equivalent -- what you would earn if you worked the job 40 hours a week, 52 weeks a year.)": "salario_anual",
    "How much additional monetary compensation do you get, if any (for example, bonuses or overtime in an average year)? Please only include monetary compensation here, not the value of benefits.": "compensacion_monetaria",
    # Moneda
    "Please indicate the currency": "moneda",
    'If "Other," please indicate the currency here: ': "otra_moneda",
    # Contexto ingresos
    "If your income needs additional context, please provide it here:": "info_adicionales_ingresos",
    # Ubicación
    "What country do you work in?": "pais",
    "If you're in the U.S., what state do you work in?": "estado_pais",
    "What city do you work in?": "ciudad",
    # Experiencia
    "How many years of professional work experience do you have overall?": "experiencia_general",
    "How many years of professional work experience do you have in your field?": "experiencia_campo",
    # Educación
    "What is your highest level of education completed?": "nivel_educacion",
    # Demografía
    "What is your gender?": "genero",
    "What is your race? (Choose all that apply.)": "etnia",
}

df = df.rename(columns=rename_map)

In [447]:
df

,timestamp,rango_edad,industria,nombre_trabajo,info_adicionales_trabajo,salario_anual,compensacion_monetaria,moneda,otra_moneda,info_adicionales_ingresos,pais,estado_pais,ciudad,experiencia_general,experiencia_campo,nivel_educacion,genero,etnia
0,4/27/2021 11:02:10,25-34,Education (Higher Education),Research and Instruction Librarian,NaN,"55,000",0.0,USD,NaN,NaN,United States,Massachusetts,Boston,5-7 years,5-7 years,Master's degree,Woman,White
1,4/27/2021 11:02:22,25-34,Computing or Tech,Change & Internal Communications Manager,NaN,"54,600",4000.0,GBP,NaN,NaN,United Kingdom,NaN,Cambridge,8 - 10 years,5-7 years,College degree,Non-binary,White
2,4/27/2021 11:02:38,25-34,"Accounting, Banking & Finance",Marketing Specialist,NaN,"34,000",NaN,USD,NaN,NaN,US,Tennessee,Chattanooga,2 - 4 years,2 - 4 years,College degree,Woman,White
3,4/27/2021 11:02:41,25-34,Nonprofits,Program Manager,NaN,"62,000",3000.0,USD,NaN,NaN,USA,Wisconsin,Milwaukee,8 - 10 years,5-7 years,College degree,Woman,White
4,4/27/2021 11:02:42,25-34,"Accounting, Banking & Finance",Accounting Manager,NaN,"60,000",7000.0,USD,NaN,NaN,US,South Carolina,Greenville,8 - 10 years,5-7 years,College degree,Woman,White
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28186,12/16/2025 18:10:31,18-24,Transport or Logistics,Apprentie Data et IA,appliquée au domaine du transport,19000,0.0,EUR,NaN,NaN,France,NaN,Paris,1 year or less,1 year or less,Master's degree,Woman,Black or African American
28187,1/6/2026 9:35:36,35-44,Engineering or Manufacturing,Principal Engineer,NaN,151000,0.0,USD,NaN,NaN,United States,Iowa,Cedar Rapids,11 - 20 years,11 - 20 years,Master's degree,Woman,White
28188,1/8/2026 16:02:32,55-64,Computing or Tech,Senior Technical Writer,NaN,125000,5000.0,CAD,NaN,NaN,Canada,NaN,Toronto,31 - 40 years,21 - 30 years,College degree,Woman,White
28189,2/2/2026 13:20:26,25-34,Retail,Marketing Manager,Email & SMS,125000,0.0,USD,NaN,NaN,USA,Wisconsin,Eau Claire,8 - 10 years,8 - 10 years,College degree,Woman,White
28190,2/8/2026 19:13:25,25-34,Media & Digital,Analytics Performance,NaN,140000000,0.0,Other,COP,NaN,Colombia,NaN,Bogota,8 - 10 years,8 - 10 years,"Professional degree (MD, JD, etc.)",Man,"Hispanic, Latino, or Spanish origin"

In [448]:
df.describe()

       compensacion_monetaria
count            2.083500e+04
mean             1.822711e+04
std              8.327849e+05
min              0.000000e+00
25%              0.000000e+00
50%              2.000000e+03
75%              1.000000e+04
max              1.200000e+08

### Información presentada en Describe:
Solo se estan mostrando datos de compensación monetaria en el describe(indica que solo los valores presentados son de tipo numerico) por lo que se comienza a realizar limpieza del dataset

In [449]:
for column in df.columns:
    print(f"Unique values for column '{column}':")
    print(df[column].unique())
    print("\n" + "-" * 50 + "\n")

Unique values for column 'timestamp':
['4/27/2021 11:02:10' '4/27/2021 11:02:22' '4/27/2021 11:02:38' ...
 '1/8/2026 16:02:32' '2/2/2026 13:20:26' '2/8/2026 19:13:25']

--------------------------------------------------

Unique values for column 'rango_edad':
['25-34' '45-54' '35-44' '18-24' '65 or over' '55-64' 'under 18']

--------------------------------------------------

Unique values for column 'industria':
['Education (Higher Education)' 'Computing or Tech'
 'Accounting, Banking & Finance' ... 'School' 'lifeguard' 'study']

--------------------------------------------------

Unique values for column 'nombre_trabajo':
['Research and Instruction Librarian'
 'Change & Internal Communications Manager' 'Marketing Specialist' ...
 'CPD Instructor' 'Apprentie Data et IA ' 'Analytics Performance']

--------------------------------------------------

Unique values for column 'info_adicionales_trabajo':
[nan 'High school, FT' 'Data developer/ETL Developer' ... 'tking a course'
 'appliquée au domaine du transport' 'Email & SMS']

--------------------------------------------------

Unique values for column 'salario_anual':
['55,000' '54,600' '34,000' ... '61492' '19000' '140000000']

--------------------------------------------------

Unique values for column 'compensacion_monetaria':
[0.00000e+00 4.00000e+03         nan 3.00000e+03 7.00000e+03 2.00000e+03
 1.00000e+04 5.00000e+02 5.00000e+03 1.00000e+03 1.50000e+04 1.00000e+02
 5.00000e+04 6.00000e+03 2.00000e+04 1.50000e+03 2.50000e+03 4.00000e+04
 2.50000e+04 8.40000e+03 3.60000e+03 1.30000e+04 8.50000e+03 6.00000e+04
 8.00000e+03 3.05000e+02 1.60830e+04 1.50000e+02 3.00000e+04 9.00000e+03
 7.50000e+03 1.87500e+04 1.20000e+04 1.40000e+03 5.50000e+04 1.40000e+04
 1.75500e+04 2.40000e+03 1.89000e+05 3.50000e+03 5.75000e+03 2.70000e+03
 1.30000e+05 3.10000e+04 2.00000e+02 8.80000e+03 1.75000e+05 2.30000e+03
 1.60000e+04 3.50000e+04 3.14050e+04 8.00000e+04 7.00000e+04 2.80000e+04
 3.40000e+04 1.80000e+04 1.17000e+04 8.00000e+02 4.00000e+02 9.00000e+02
 1.32180e+04 6.50000e+03 7.20000e+02 1.78500e+04 8.55000e+03 5.25000e+03
 1.20000e+03 2.23000e+05 1.00000e+05 5.20000e+03 3.05650e+04 7.00000e+00
 1.75000e+03 8.20000e+03 1.80000e+03 1.16000e+04 5.95000e+03 3.07500e+04
 7.13000e+03 2.40550e+04 6.40000e+03 6.90000e+04 4.50000e+03 1.86000e+04
 7.10000e+03 7.20000e+03 2.20000e+03 7.50000e+04 7.60000e+04 1.10000e+04
 1.16250e+04 3.50000e+02 3.30000e+03 7.00000e+02 6.00000e+00 8.50000e+04
 2.10000e+04 2.70000e+04 8.75000e+03 4.13630e+04 4.20000e+03 3.00000e+02
 5.45300e+03 1.09200e+04 1.84800e+03 2.67500e+03 2.50000e+05 1.21000e+04
 3.15000e+03 1.92000e+04 1.92000e+03 1.70000e+03 1.40000e+05 1.25000e+04
 2.60000e+03 2.80000e+03 6.63000e+04 1.56000e+04 4.50000e+02 2.25000e+04
 1.75000e+04 1.00000e+01 5.50000e+03 1.37000e+05 1.31500e+03 1.10000e+05
 4.25000e+05 2.75000e+04 1.17500e+04 4.85000e+03 2.07000e+03 4.15000e+04
 1.70000e+04 1.73320e+04 2.01600e+04 2.50000e+02 8.50000e+05 3.40000e+03
 1.85000e+04 6.00000e+02 1.30000e+03 8.51100e+03 6.50000e+04 7.72500e+03
 2.10000e+03 4.50000e+04 9.50000e+03 1.55000e+03 3.60000e+04 6.68200e+03
 1.50000e+01 2.20000e+04 1.01500e+04 2.18000e+04 3.70000e+03 7.50000e+02
 1.66290e+04 2.04000e+04 1.35000e+04 1.49210e+04 2.40000e+04 9.12000e+03
 1.10000e+03 5.10000e+04 7.80000e+03 4.56000e+03 1.53000e+04 2.30000e+04
 9.20000e+04 7.15000e+03 1.57230e+04 2.60000e+04 2.10000e+02 9.63000e+03
 4.55000e+05 3.70000e+04 1.86000e+03 5.30000e+04 4.70000e+03 2.00000e+05
 3.75200e+03 2.20000e+05 2.36000e+04 3.24500e+03 1.16800e+04 7.80000e+04
 1.23250e+04 6.94700e+03 6.20000e+03 1.53390e+04 1.77520e+04 1.25000e+03
 2.24800e+04 4.72500e+03 1.07750e+04 2.05000e+04 1.15000e+05 1.51700e+03
 5.40000e+03 5.70000e+04 1.16500e+04 2.40750e+04 9.70000e+03 7.70000e+03
 4.10500e+03 4.40000e+03 4.40000e+01 9.83000e+03 2.90000e+03 2.25000e+05
 3.56000e+03 7.20000e+04 9.00000e+04 1.25000e+05 4.80000e+03 1.42500e+04
 1.32000e+04 1.20000e+05 3.12000e+02 2.80000e+05 8.49000e+03 1.60000e+03
 3.89000e+03 1.24420e+04 3.50000e+05 4.22810e+04 3.20000e+04 1.61560e+04
 5.32000e+04 1.15000e+04 2.40000e+02 2.15000e+04 2.52500e+04 8.85000e+03
 1.65000e+04 6.56200e+03 2.90000e+05 3.90000e+05 4.56000e+04 9.00000e+00
 1.67650e+04 1.50000e+05 8.87500e+04 3.20000e+03 1.20000e+01 3.90000e+04
 5.90000e+04 3.75000e+03 1.62000e+03 1.95000e+04 1.85000e+03 5.60000e+04
 3.70370e+04 9.60000e+03 8.81200e+03 1.12000e+05 1.07000e+05 8.57700e+03
 9.25000e+03 2.31400e+03 2.25000e+03 4.60000e+04 2.10350e+04 8.25000e+03
 2.30000e+05 2.55000e+04 1.27000e+04 4.80000e+04 4.50000e+05 2.45000e+04
 1.55600e+03 3.30000e+04 3.80000e+04 1.50660e+04 8.19000e+03 1.90000e+04
 1.05000e+04 4.30000e+03 6.30000e+02 2.41500e+05 9.72000e+03 1.13000e+04
 1.87500e+03 6.38000e+04 8.61000e+02 4.10000e+02 5.00000e+05 1.02000e+04
 8.60000e+03 5.00000e+01 9.10000e+03 1.09000e+05 7.60000e+03 4.40000e+04
 1.13300e+03 2.33300e+03 8.60000e+04 4.10000e+04 1.12000e+04 5.80000e+03
 3.28000e+03 7.80000e+02 5.02700e+04 2.59200e+04 9.48900e+03 1.73250e+04
 1.22000e+05 1.30350e+04 9.43200e+03 2.28000e+04 7.75000e+03 3.15000e+04
 1.41380e+04 1.55000e+04 2.18000e+05 1.65000e+05 3.78400e+03 1.33200e+04
 6.70000e+03 1.33000e+04 8.30000e+03 1.38000e+04 2.10480e+04 7.50000e+01
 3.60000e+02 2.47570e+04 5.20000e+04 3.04700e+04 1.61000e+04 2.46480e+04
 9.20000e+03 4.10000e+03 3.30000e+05 1.59000e+04 9.56600e+03 6.25000e+03
 1.55760e+04 9.30000e+02 3.00000e+05 4.16600e+03 1.27500e+05 1.90000e+03
 4.90000e+03 1.68000e+04 1.95050e+04 3.80000e+03 4.30000e+04 1.67000e+02
 3.33000e+03 9.06600e+03 1.33000e+03 1.02786e+05 9.68300e+03 9.40000e+03
 6.30000e+03 2.08000e+03 1.70000e+05 1.16000e+05 3.03680e+04 2.50000e+01
 1.84520e+04 5.25500e+03 1.33000e+05 9.30000e+03 3.23750e+04 9.51900e+03
 1.54000e+03 1.03000e+04 1.04000e+05 1.04740e+04 9.88800e+03 1.69000e+04
 5.98200e+03 4.83630e+04 5.20000e+02 5.60000e+03 4.60000e+03 2.67000e+04
 1.49000e+03 3.85000e+03 1.68750e+04 6.80000e+03 1.46000e+04 1.62000e+05
 2.00000e+00 4.25000e+03 6.80000e+04 7.36000e+04 5.43000e+02 1.12549e+05
 1.68960e+04 1.96000e+04 1.74450e+04 3.12500e+04 6.60000e+03 7.70000e+04
 2.64000e+03 1.41000e+04 5.90000e+03 2.71750e+04 8.10000e+03 7.10400e+03
 2.24000e+03 1.30000e+01 1.23000e+04 3.96000e+05 2.87600e+03 8.80000e+04
 5.60230e+04 8.08800e+03 4.20000e+04 4.70000e+04 1.14000e+04 2.16750e+04
 9.83400e+03 1.34000e+04 1.28000e+05 1.88000e+03 1.05600e+04 2.40000e+05
 3.65000e+04 3.00900e+03 6.70000e+04 9.75000e+03 5.27500e+03 1.24000e+04
 3.58000e+04 1.53040e+04 5.74000e+03 3.55000e+03 1.60000e+05 5.40000e+02
 1.16880e+04 5.15000e+05 1.05000e+05 8.50000e+02 7.25000e+04 1.08000e+04
 2.69000e+03 1.54250e+04 1.44000e+04 9.50000e+04 9.20000e+02 1.58000e+05
 3.45000e+05 1.36000e+05 9.60000e+04 2.90000e+04 1.45000e+04 6.00000e+05
 1.75000e+02 1.06400e+04 2.10000e+05 7.40000e+04 1.25530e+04 2.06000e+03
 1.80000e+05 9.66000e+03 2.65000e+05 1.87000e+05 3.31250e+04 5.46000e+03
 6.50000e+02 1.07500e+06 1.47500e+04 1.20000e+08 4.55000e+03 3.37500e+03
 1.98100e+03 2.85000e+04 1.95440e+04 5.85000e+03 3.50000e+01 9.80000e+04
 9.40700e+03 3.25000e+03 9.80000e+03 6.85000e+03 1.20000e+06 8.82000e+04
 5.40000e+04 1.07000e+04 1.25000e+02 5.18800e+03 4.20000e+05 9.60000e+02
 1.17700e+04 3.25000e+04 4.00000e+05 7.12500e+03 2.17500e+04 1.41010e+04
 1.85000e+05 2.53800e+03 3.40500e+03 7.18300e+03 1.98000e+04 2.75000e+03
 1.02100e+04 4.88800e+04 1.47000e+04 2.00000e+01 3.12000e+03 9.97500e+03
 1.24800e+03 4.47000e+04 6.90000e+03 2.26500e+03 7.30000e+03 2.89500e+04
 5.70000e+03 6.06800e+03 6.33880e+04 3.01300e+03 4.00000e+01 2.37500e+04
 8.90000e+03 9.70000e+02 4.05000e+04 6.12000e+03 7.94500e+03 2.66140e+04
 3.89050e+04 7.30000e+04 1.71870e+04 1.67000e+04 2.25500e+04 8.70000e+03
 2.34000e+03 1.27500e+04 3.24000e+04 1.87200e+04 7.95000e+03 1.62390e+04
 1.19900e+04 7.70000e+02 1.06000e+05 4.11300e+03 6.37500e+03 7.89800e+03
 2.33640e+04 4.41520e+04 9.30000e+04 4.22000e+04 8.70000e+04 4.75000e+03
 1.03020e+04 9.09100e+03 3.22100e+03 7.10000e+04 3.12000e+04 3.37590e+04
 5.80000e+04 1.24000e+05 8.14100e+03 1.72500e+04 1.25400e+04 1.48750e+04
 1.55000e+05 1.35000e+05 1.45000e+05 6.45000e+04 2.81900e+03 8.85800e+03
 4.47500e+03 1.26000e+04 2.99000e+05 1.73000e+04 9.00000e+05 8.69600e+03
 3.27000e+03 1.04000e+04 2.52000e+03 3.25000e+02 1.66000e+05 6.72500e+03
 1.52500e+05 8.46100e+04 2.42000e+04 8.35000e+03 2.32010e+04 1.18500e+05
 3.68400e+03 1.43800e+03 1.56240e+04 2.49000e+02 1.56000e+05 2.70000e+05
 3.04000e+04 1.06000e+04 3.82300e+04 1.03820e+04 1.78000e+05 1.65000e+03
 1.00000e+00 3.75000e+02 3.35000e+03 1.35000e+03 6.24000e+04 8.48480e+04
 2.41800e+04 1.40640e+04 6.94800e+03 2.31825e+05 3.65000e+05 3.10000e+03
 7.01500e+03 2.15000e+03 1.80000e+02 1.03500e+04 2.06300e+04 8.12500e+03
 1.75950e+04 9.40000e+02 9.76000e+02 3.01000e+03 5.12840e+04 3.20000e+05
 3.68200e+03 8.40000e+02 1.02000e+05 1.03000e+05 1.46250e+04 1.44200e+04
 1.22000e+04 1.47000e+05 1.95000e+05 5.17500e+03 1.48000e+05 2.65200e+04
 3.68000e+03 2.17000e+04 1.43500e+03 8.00000e+05 2.35000e+04 2.95000e+04
 8.00000e+01 2.60000e+05 4.48000e+04 3.08000e+04 8.30000e+05 1.90000e+05
 2.88000e+05 3.84000e+03 2.75000e+05 8.67000e+03 2.60000e+01 1.32000e+03
 1.40000e+06 3.40000e+05 5.45000e+03 4.65000e+03 2.01000e+05 2.45500e+05
 7.00000e+05 2.46000e+04 6.84000e+02 3.25000e+05 9.10000e+04 2.36800e+04
 5.88000e+05 2.48370e+04 2.95500e+04 6.25000e+04 3.16870e+04 4.73800e+04
 5.22000e+03 8.20000e+04 2.16000e+02 4.44000e+04 2.33000e+03 2.35000e+03
 8.69000e+03 3.66000e+04 1.89000e+04 4.25000e+04 6.20000e+04 6.40000e+04
 1.00000e+06 1.68500e+04 1.58700e+04 1.14300e+04 1.31000e+04 2.68000e+03
 9.02000e+03 1.82000e+05 4.95000e+03 6.60000e+04 8.37500e+04 2.98310e+04
 4.60000e+05 4.65370e+04 1.84500e+04 4.39500e+03 2.92000e+03 3.58800e+04
 9.34000e+02 3.98000e+05 5.00090e+04 2.48550e+04 6.15000e+03 1.28000e+04
 9.51000e+03 2.91000e+05 7.43400e+03 1.36000e+04 3.62500e+04 8.30000e+04
 1.35200e+04 7.80000e+05 1.00500e+04 1.53310e+04 8.32000e+03 3.73970e+04
 1.41000e+05 1.43000e+04 2.65000e+04 4.41100e+03 5.35000e+03 5.00900e+03
 3.87000e+05 2.38500e+04 6.56620e+04 6.06100e+03 1.38000e+05 8.42000e+04
 2.15000e+05 1.02900e+04 1.53500e+04 7.00000e+01 3.75000e+04 2.14800e+04
 7.70600e+03 9.45000e+02 7.23400e+03 7.40000e+03 7.99600e+03 2.01500e+03
 6.63000e+03 9.57000e+03 3.90000e+02 1.62500e+04 1.09000e+04 8.40000e+04
 2.15100e+03 3.94200e+04 4.90000e+04 8.20000e+02 1.60000e+02 4.73000e+04
 7.27700e+03 8.31600e+03 1.52000e+05 9.90000e+03 2.23340e+04 1.63000e+04
 7.56800e+03 1.54000e+04 9.88000e+03 1.71600e+04 1.11500e+04 1.45775e+05
 9.27000e+03 4.47200e+04 3.56200e+03 4.50800e+05 2.85000e+03 4.28500e+03
 1.08150e+04 3.96000e+04 4.85560e+04 3.84800e+04 2.34000e+04 1.57500e+04
 2.02500e+04 2.26000e+05 1.79600e+05 3.37500e+04 1.08400e+03 7.25000e+03
 6.52000e+03 1.78000e+04 2.35700e+03 4.57700e+03 1.01000e+04 1.85400e+04
 5.37500e+04 1.37300e+03 8.04000e+05 3.18000e+03 6.02800e+03 5.30000e+03
 6.73000e+03 6.50000e+01 1.23500e+04 1.54400e+04 9.73300e+03 4.17500e+03
 5.41600e+03 1.18000e+04 7.83000e+03 7.69500e+03 6.20000e+01 1.18000e+05
 1.76000e+04 1.62120e+04 2.16450e+04 1.67200e+03 5.50000e+02 1.56000e+03
 5.70200e+03 8.90000e+04 1.50000e+06 6.94200e+03 2.00000e+06 1.39500e+04
 3.11500e+03 5.28000e+03 5.00000e+00 1.05670e+04 1.63800e+03 2.06000e+05
 6.30000e+04 1.58400e+03 6.95500e+03 4.32000e+04 3.06400e+04 1.15200e+05
 6.10000e+03 7.98200e+03 5.08000e+02 2.07000e+05 3.72000e+04 1.23500e+05
 7.18450e+04 6.32500e+03 6.75000e+02 7.87500e+03 4.85000e+04 1.39000e+04
 5.50000e+01 2.08000e+04 9.80000e+02 9.07500e+03 1.03200e+04 2.20000e+01
 3.55530e+04 2.99000e+02 1.10000e+01 6.00000e+01]

--------------------------------------------------

Unique values for column 'moneda':
['USD' 'GBP' 'CAD' 'EUR' 'AUD/NZD' 'Other' 'CHF' 'ZAR' 'SEK' 'HKD' 'JPY']

--------------------------------------------------

Unique values for column 'otra_moneda':
[nan 'INR' 'Peso Argentino' '$76,302.34'
 'My bonus is based on performance up to 10% of salary'
 'I work for an online state university, managing admissions data. Not direct tech support. '
 '0' 'MYR' 'CHF' 'KWD' 'NOK' 'Na ' 'USD' 'BR$' 'SEK'
 'Base plus Commission ' 'canadian' 'Dkk' 'EUR' 'COP' 'TTD'
 'Indian rupees' 'BRL (R$)' 'Mexican pesos' 'CZK' 'GBP' 'DKK' 'Bdt'
 'RSU / equity' 'ZAR' 'Additonal = Bonus plus stock' 'American Dollars'
 'Php' 'PLN (Polish zloty)' 'Overtime (about 5 hours a week) and bonus'
 'czech crowns' 'Stock ' 'TRY' 'Norwegian kroner (NOK)' 'CNY' 'ILS/NIS'
 '55,000' 'AUD & NZD are not the same currency...' 'US Dollar' 'Canadian '
 'AUD' 'BRL' 'NIS (new Israeli shekel)' '-' 'RMB (chinese yuan)'
 'Taiwanese dollars'
 "AUD and NZD aren't the same currency, and have absolutely nothing to do with each other :("
 'NZD' 'Philippine Peso' 'SGD' 'KRW (Korean Won)' 'Czk' 'THB' 'IDR ' 'Sgd'
 'Nok' 'ILS (Shekel)' '6000 in stock grants annually' 'DKK ' 'China RMB'
 'AUD Australian ' 'LKR' 'Polish Złoty' 'Philippine peso (PHP)'
 'Australian Dollars ' 'PHP'
 'Many non-salary benefits - travel, free healthcare for self, very low for family, non-taxable housing allowance '
 'Equity'
 'It’s marketed as £22000 but we get paid pro-rats, so no pay for the school holidays.'
 'additional compensation is for overtime (i am paid hourly) so it varies. i have included an estimate'
 'ARS' 'Argentinian peso (ARS)' 'Israeli Shekels' 'ILS' 'MXN'
 'PhP (Philippine Peso)' 'Converted mine into USD for your easyness' 'PLN'
 'KRW' 'SAR' 'RM' 'IDR' 'Argentine Peso' 'Philippine Pesos' 'Ils' 'Rs'
 'INR (Indian Rupee)' 'NTD' 'Danish Kroner' 'CAD' 'Korean Won ' 'dkk'
 'Euro' 'SGD ' 'Mexican Pesos' 'THAI  BAHT'
 'Option to get 2x or 1.5x if taking on a weekend day in the summer'
 'Thai Baht ' '47000' 'na' 'Canadian' 'N/a' 'up to 12% annual bonus'
 'croatian kuna' 'PLN (Zwoty)' '5' 'Rupees' 'Singapore Dollara' 'NGN'
 'pkr' 'Zar' '1' 'ekignkfb' 'hhv' 'rice' 'HKD' 'ff' 'other' 'Rupees '
 'TZS' 'Pesos Colombianos' 'Thai Baht' '11' 'ZMW' 'inr']

--------------------------------------------------

Unique values for column 'info_adicionales_ingresos':
[nan 'I work for a Charter School' 'Commission based' ... 'no job' '111'
 'no incime']

--------------------------------------------------

Unique values for column 'pais':
['United States' 'United Kingdom' 'US' 'USA' 'Canada' 'United Kingdom '
 'usa' 'UK' 'Scotland ' 'U.S.' 'United States ' 'The Netherlands'
 'Australia ' 'Spain' 'us' 'Usa' 'England' 'finland'
 'United States of America' 'France' 'United states' 'Scotland' 'USA '
 'United states ' 'Germany' 'UK ' 'united states' 'Ireland' 'India'
 'Australia' 'Uk' 'United States of America ' 'U.S. ' 'canada' 'Canada '
 'U.S>' 'ISA' 'Argentina' 'Great Britain ' 'US ' 'United State' 'U.S.A'
 'Denmark' 'U.S.A.' 'America' 'Netherlands' 'netherlands' 'England '
 'united states of america' 'Ireland ' 'Switzerland' 'Netherlands '
 'Bermuda' 'Us' 'The United States' 'United State of America' 'Germany '
 'Malaysia' 'Mexico ' 'United Stated' 'South Africa ' 'Belgium'
 'Northern Ireland' 'u.s.' 'South Africa' 'UNITED STATES' 'united States'
 'Sweden' 'Hong Kong' 'Kuwait' 'Norway' 'Sri lanka' 'Contracts'
 'USA-- Virgin Islands' 'United Statws' 'England/UK' 'U.S'
 "We don't get raises, we get quarterly bonuses, but they periodically asses income in the area you work, so I got a raise because a 3rd party assessment showed I was paid too little for the area we were located"
 'Unites States ' 'Usa ' 'U.S.A. ' 'England, UK.' 'Greece' 'Japan'
 'U. S. ' 'Britain ' 'United Sates' 'Japan ' 'Austria' 'Brazil'
 'Canada, Ottawa, ontario' 'Global' 'Sweden ' 'United States of American '
 'FRANCE' 'Uniited States' 'United Kingdom (England)'
 'Worldwide (based in US but short term trips aroudn the world)' 'CANADA '
 'Canadw' 'Hungary' 'Luxembourg' 'United Sates of America' 'ireland'
 'United States (I work from home and my clients are all over the US/Canada/PR'
 'Colombia' 'CANADA' 'Unted States' 'germany' 'United Statesp'
 'United Stattes' 'United Statea' 'United Kingdom.' 'Mexico' 'New Zealand'
 'Trinidad and Tobago' 'Unites States' 'United Statees' 'United kingdom'
 'Cayman Islands' 'UNited States' 'Can'
 'I am located in Canada but I work for a company in the US'
 'United kingdom ' 'Uniyed states' 'Uniyes States'
 'United States of Americas' 'U.A.' 'Czech republic' 'Czechia' 'Latvia'
 'Finland' 'U. S.' 'Puerto Rico' 'US of A' 'Rwanda'
 'United States of america ' 'United Arab Emirates ' 'Bangladesh '
 'Spain ' 'U.K. ' 'Romania' 'U.SA' 'United Kindom' 'United Status'
 'New Zealand ' 'Currently finance' ' U.S.' 'Serbia' 'Philippines'
 'Russia ' 'Poland' 'UXZ' 'czech republic' 'England, UK' 'Turkey' 'Canda'
 'Puerto Rico ' 'Canada and USA' 'Catalonia'
 '$2,175.84/year is deducted for benefits' 'uk' 'France ' 'Italy (South)'
 'Jersey, Channel islands' 'Uk ' 'China' 'Virginia' 'Afghanistan' 'Israel'
 'U.s.' 'Great Britain' 'U.s.a.' 'USS' 'Denmark ' 'Uniteed States'
 'New Zealand Aotearoa' 'U.K.' 'Hartford' 'Japan, US Gov position'
 'Csnada' 'United Stares' 'New zealand' 'Mainland China' 'I.S.'
 'UK (Northern Ireland)' 'UK for U.S. company' ' US' 'Unites states ' 'NZ'
 'Us ' 'Hong Kong ' 'Taiwan' 'Canad' 'Unite States' 'australia' 'The US'
 'united states ' 'The Netherlands ' 'Cambodia'
 'United states of America ' 'Vietnam' 'Remote' 'Singapore' 'South Korea'
 'Czech Republic ' 'Thailand' 'Bangladesh' 'Lithuania' 'Eritrea'
 'Indonesia' 'Singapore '
 'For the United States government, but posted overseas' 'IS'
 'Switzerland ' 'United Kingdomk' 'Italy' ' New Zealand' 'Cuba' 'Slovenia'
 'Australi' "Cote d'Ivoire" 'united kingdom'
 'From Romania, but for an US based company' 'Somalia'
 'Wales (United Kingdom)' 'England, Gb' 'Czech Republic' 'UnitedStates'
 'Sri Lanka' 'spain' 'Danmark' 'U.K. (northern England)' 'U.K' 'NL'
 'the Netherlands' 'Nederland' 'Slovakia' 'United States of america'
 'Portugal ' 'England, United Kingdom' 'Sierra Leone' 'Englang'
 'United statew' 'UAE' 'Belgium '
 'bonus based on meeting yearly goals set w/ my supervisor'
 'International ' 'The Bahamas ' 'Wales'
 "I earn commission on sales. If I meet quota, I'm guaranteed another 16k min. Last year i earned an additional 27k. It's not uncommon for people in my space to earn 100k+ after commission. "
 'Costa Rica' ' United States' 'United Statues' 'Untied States'
 'USA (company is based in a US territory, I work remote)' 'Chile'
 'denmark' 'UK (England)' 'UK, remote' 'Scotland, UK' 'USAB'
 'Unitied States' 'Norway ' 'Qatar' 'United Sttes' 'Remote (philippines)'
 'Brazil ' 'Unites kingdom ' 'South africa' 'Portugal' 'united stated'
 'United States Of America' 'Nigeria' 'Panamá' 'Northern Ireland '
 'england' 'SWITZERLAND'
 'Austria, but I work remotely for a Dutch/British company'
 "I work for an US based company but I'm from Argentina."
 'I was brought in on this salary to help with the EHR and very quickly was promoted to current position but compensation was not altered. '
 'Uniter Statez' 'U. S ' 'Congo' 'United states of America' 'Uruguay'
 'Pakistan' 'Brasil' 'USA tomorrow ' 'United Stateds'
 'n/a (remote from wherever I want)' 'singapore'
 'US govt employee overseas, country withheld' 'usa ' 'Malaysia ' 'Uganda'
 'Malta' 'Saudi Arabia' 'Bulgaria' 'Estonia' 'Morocco' 'new zealand'
 'Africa' 'Ecuador' 'Zimbabwe' 'Ghana' 'San Francisco' 'Usat' '🇺🇸 '
 'Luxemburg' 'Unitef Stated' 'UA' 'Wales, UK' 'United Stares ' 'Croatia '
 'England, United Kingdom ' 'United STates' 'USaa' 'uSA' 'South Korea '
 'The netherlands' 'Ukraine ' 'america' 'switzerland'
 'United States- Puerto Rico'
 'From New Zealand but on projects across APAC' 'Y' 'United y'
 'Wales (UK)' 'Isle of Man' 'Northern Ireland, United Kingdom' 'europe'
 'California ' 'UK, but for globally fully remote company' 'Australian '
 'México' 'Jamaica' 'uS' 'USD' 'the netherlands'
 "USA, but for foreign gov't" 'japan' 'Kenya' 'Jordan' 'United Statss'
 'ARGENTINA BUT MY ORG IS IN THAILAND' 'United states of america' 'UsA'

In [450]:
df.nunique()

timestamp                    25409
rango_edad                       7
industria                     1225
nombre_trabajo               14418
info_adicionales_trabajo      7026
salario_anual                 4328
compensacion_monetaria         849
moneda                          11
otra_moneda                    129
info_adicionales_ingresos     2987
pais                           390
estado_pais                    137
ciudad                        4868
experiencia_general              8
experiencia_campo                8
nivel_educacion                  6
genero                           5
etnia                           52
dtype: int64

## Revisar valores duplicados, nulos y porcentaje de nulos
Para evitar datos que no son necesarios, y datos que van a generar ruido, se realiza una tabla especificando cada una de las columnas con valores unicos, nulos y porcentaje de los ultimos

In [451]:
perfil = pd.DataFrame({
    "valores_unicos": df.nunique(),
    "nulos": df.isna().sum(),
    "porcentaje_nulos": (df.isna().sum() / len(df)) * 100
})

perfil.sort_values("valores_unicos", ascending=False)

                           valores_unicos  nulos  porcentaje_nulos
timestamp                           25409      0          0.000000
nombre_trabajo                      14418      2          0.007094
info_adicionales_trabajo             7026  20902         74.144230
ciudad                               4868     82          0.290873
salario_anual                        4328      0          0.000000
info_adicionales_ingresos            2987  25140         89.177397
industria                            1225     81          0.287326
compensacion_monetaria                849   7356         26.093434
pais                                  390      0          0.000000
estado_pais                           137   5063         17.959633
otra_moneda                           129  27971         99.219609
etnia                                  52    190          0.673974
moneda                                 11      0          0.000000
experiencia_general                     8      0          0.000000
experiencia_campo                       8      0          0.000000
rango_edad                              7      0          0.000000
nivel_educacion                         6    236          0.837147
genero                                  5    182          0.645596

### **Eliminar del DF columnas no necesarias**
#### **TimeStamp**: Variable no relevante
#### **info_adicionales_trabajo**:  es una variable que no es parametrizable facilmente, ademas para la información que va a ser usada en el dashboard no generan impacto, sería necesario ver los datos de cada una de las personas.
#### **variables con valores nulos** que no tengan impacto en el % mayor a 1% entre estas variables estan: nombre_trabajo, ciudad, industria, etnia, nivel_educacion, genero.

In [452]:
df = df.drop(columns=["timestamp"])
df = df.drop(columns=["info_adicionales_trabajo"])

cols_valores_nulos = [
    "nombre_trabajo",
    "ciudad",
    "industria",
    "etnia",
    "genero",
    "nivel_educacion"
]


print("Registros iniciales:", df.shape[0])
df = df.dropna(subset=cols_valores_nulos)
print("Registros luego de limpieza:", df.shape[0])

Registros iniciales: 28191
Registros luego de limpieza: 27561

In [453]:
df[cols_valores_nulos].isna().sum()

nombre_trabajo     0
ciudad             0
industria          0
etnia              0
genero             0
nivel_educacion    0
dtype: int64

#### Descripcción de la variable salarial

In [454]:
df["salario_anual_num"] = pd.to_numeric(
    df["salario_anual"],
    errors="coerce"
)

df["compensacion_num"] = pd.to_numeric(
    df["compensacion_monetaria"],
    errors="coerce"
)

In [455]:
no_salario = df["salario_anual_num"].isna().sum()
no_comp = df["compensacion_num"].isna().sum()

print("Salarios no convertidos:", no_salario)
print("Compensaciones no convertidas:", no_comp)

Salarios no convertidos: 19902
Compensaciones no convertidas: 7105

In [456]:
df.loc[
    df["salario_anual"].astype(str).str.contains(",", na=False),
    "salario_anual"
].head(10)

0     55,000
1     54,600
2     34,000
3     62,000
4     60,000
5     62,000
6     33,000
7     50,000
8    112,000
9     45,000
Name: salario_anual, dtype: object

In [457]:
df["salario_anual_clean"] = (
    df["salario_anual"]
    .astype(str)
    .str.replace(",", "", regex=False)
)

df["compensacion_clean"] = (
    df["compensacion_monetaria"]
    .astype(str)
    .str.replace(",", "", regex=False)
)

In [458]:
df["salario_anual_num"] = pd.to_numeric(
    df["salario_anual_clean"],
    errors="coerce"
)

df["compensacion_num"] = pd.to_numeric(
    df["compensacion_clean"],
    errors="coerce"
)

In [459]:
print(
    "Salarios no convertidos:",
    df["salario_anual_num"].isna().sum()
)

print(
    "Compensaciones no convertidas:",
    df["compensacion_num"].isna().sum()
)

Salarios no convertidos: 0
Compensaciones no convertidas: 7105

In [460]:
mask_compensacion_num_no_convertido = df["compensacion_num"].isna()

In [461]:
mask_compensacion_num_no_convertido.sum()

np.int64(7105)

In [462]:
df.loc[
    mask_compensacion_num_no_convertido,
    "compensacion_monetaria"
].unique()

array([nan])

In [463]:
df["compensacion_num"] = df["compensacion_num"].fillna(0)

In [464]:
df["compensacion_num"].isna().sum()

np.int64(0)

In [465]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 27561 entries, 0 to 28190
Data columns (total 20 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   rango_edad                 27561 non-null  object
 1   industria                  27561 non-null  object
 2   nombre_trabajo             27561 non-null  object
 3   salario_anual              27561 non-null  object
 4   compensacion_monetaria     20456 non-null  float64
 5   moneda                     27561 non-null  object
 6   otra_moneda                207 non-null    object
 7   info_adicionales_ingresos  3008 non-null   object
 8   pais                       27561 non-null  object
 9   estado_pais                22669 non-null  object
 10  ciudad                     27561 non-null  object
 11  experiencia_general        27561 non-null  object
 12  experiencia_campo          27561 non-null  object
 13  nivel_educacion            27561 non-null  object
 14  genero                     27561 non-null  object
 15  etnia                      27561 non-null  object
 16  salario_anual_num          27561 non-null  int64
 17  compensacion_num           27561 non-null  float64
 18  salario_anual_clean        27561 non-null  object
 19  compensacion_clean         27561 non-null  object
dtypes: float64(2), int64(1), object(17)
memory usage: 4.4+ MB

In [466]:
df = df.drop(columns=[
    "salario_anual",
    "compensacion_monetaria",
    "salario_anual_clean",
    "compensacion_clean"
])

In [467]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 27561 entries, 0 to 28190
Data columns (total 16 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   rango_edad                 27561 non-null  object
 1   industria                  27561 non-null  object
 2   nombre_trabajo             27561 non-null  object
 3   moneda                     27561 non-null  object
 4   otra_moneda                207 non-null    object
 5   info_adicionales_ingresos  3008 non-null   object
 6   pais                       27561 non-null  object
 7   estado_pais                22669 non-null  object
 8   ciudad                     27561 non-null  object
 9   experiencia_general        27561 non-null  object
 10  experiencia_campo          27561 non-null  object
 11  nivel_educacion            27561 non-null  object
 12  genero                     27561 non-null  object
 13  etnia                      27561 non-null  object
 14  salario_anual_num          27561 non-null  int64
 15  compensacion_num           27561 non-null  float64
dtypes: float64(1), int64(1), object(14)
memory usage: 3.6+ MB

### Se evidencia que hay varios salarios menos a 1000 por lo que estos pueden ser salarios en miles, posteriormente se va a realizar la multiplicación de estos valores para evitar valores que modifiquen las estadisticas.

In [468]:

df["salario_anual_num"].describe()
df["compensacion_num"].describe()


df["salario_anual_num"].quantile([0.90, 0.95, 0.99])
df["compensacion_num"].quantile([0.90, 0.95, 0.99])

df[df["salario_anual_num"] < 1000]["salario_anual_num"].head(20)

97       58
166      35
895      38
968      61
1607    130
2229     33
4081     35
4124    108
4546     63
5139    118
5211     40
6124     70
6294     50
6550    155
6929     52
7545    264
8087     72
8592    100
8679     91
8739      0
Name: salario_anual_num, dtype: int64

### Renombrar las Columnas Limpias de salario y compensación,las cuales se encuentran en dolares
Limpiar las variables de moneda, ya que estas son las que van a ayudar a estandarizar los valores a COP
se unen las columnas  moneda y otra moneda.
debido a que other no corresponde a un valor significante en los registros se eliminan estos registros

In [469]:
df = df.rename(columns={
    "salario_anual_num": "salario_anual_usd",
    "compensacion_num": "compensacion_usd"
})

In [470]:
df

,rango_edad,industria,nombre_trabajo,moneda,otra_moneda,info_adicionales_ingresos,pais,estado_pais,ciudad,experiencia_general,experiencia_campo,nivel_educacion,genero,etnia,salario_anual_usd,compensacion_usd
0,25-34,Education (Higher Education),Research and Instruction Librarian,USD,NaN,NaN,United States,Massachusetts,Boston,5-7 years,5-7 years,Master's degree,Woman,White,55000,0.0
1,25-34,Computing or Tech,Change & Internal Communications Manager,GBP,NaN,NaN,United Kingdom,NaN,Cambridge,8 - 10 years,5-7 years,College degree,Non-binary,White,54600,4000.0
2,25-34,"Accounting, Banking & Finance",Marketing Specialist,USD,NaN,NaN,US,Tennessee,Chattanooga,2 - 4 years,2 - 4 years,College degree,Woman,White,34000,0.0
3,25-34,Nonprofits,Program Manager,USD,NaN,NaN,USA,Wisconsin,Milwaukee,8 - 10 years,5-7 years,College degree,Woman,White,62000,3000.0
4,25-34,"Accounting, Banking & Finance",Accounting Manager,USD,NaN,NaN,US,South Carolina,Greenville,8 - 10 years,5-7 years,College degree,Woman,White,60000,7000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28186,18-24,Transport or Logistics,Apprentie Data et IA,EUR,NaN,NaN,France,NaN,Paris,1 year or less,1 year or less,Master's degree,Woman,Black or African American,19000,0.0
28187,35-44,Engineering or Manufacturing,Principal Engineer,USD,NaN,NaN,United States,Iowa,Cedar Rapids,11 - 20 years,11 - 20 years,Master's degree,Woman,White,151000,0.0
28188,55-64,Computing or Tech,Senior Technical Writer,CAD,NaN,NaN,Canada,NaN,Toronto,31 - 40 years,21 - 30 years,College degree,Woman,White,125000,5000.0
28189,25-34,Retail,Marketing Manager,USD,NaN,NaN,USA,Wisconsin,Eau Claire,8 - 10 years,8 - 10 years,College degree,Woman,White,125000,0.0
28190,25-34,Media & Digital,Analytics Performance,Other,COP,NaN,Colombia,NaN,Bogota,8 - 10 years,8 - 10 years,"Professional degree (MD, JD, etc.)",Man,"Hispanic, Latino, or Spanish origin",140000000,0.0

In [471]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 27561 entries, 0 to 28190
Data columns (total 16 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   rango_edad                 27561 non-null  object
 1   industria                  27561 non-null  object
 2   nombre_trabajo             27561 non-null  object
 3   moneda                     27561 non-null  object
 4   otra_moneda                207 non-null    object
 5   info_adicionales_ingresos  3008 non-null   object
 6   pais                       27561 non-null  object
 7   estado_pais                22669 non-null  object
 8   ciudad                     27561 non-null  object
 9   experiencia_general        27561 non-null  object
 10  experiencia_campo          27561 non-null  object
 11  nivel_educacion            27561 non-null  object
 12  genero                     27561 non-null  object
 13  etnia                      27561 non-null  object
 14  salario_anual_usd          27561 non-null  int64
 15  compensacion_usd           27561 non-null  float64
dtypes: float64(1), int64(1), object(14)
memory usage: 3.6+ MB

In [472]:
df["moneda_total"] = df["moneda"].fillna(df["otra_moneda"])
df["moneda_total"] = df.apply(
    lambda x: x["otra_moneda"]
    if x["moneda"] == "Other"
    else x["moneda"],
    axis=1
)

In [473]:
print(" Numero de monedas totales: " ,df["moneda_total"].nunique())
df["moneda_total"].unique()

 Numero de monedas totales:  89

array(['USD', 'GBP', 'CAD', 'EUR', 'AUD/NZD', 'INR', 'Peso Argentino',
       'CHF', 'MYR', 'ZAR', 'SEK', 'HKD', 'NOK', 'BR$', 'Dkk', 'TTD',
       'Indian rupees', 'BRL (R$)', 'Mexican pesos', 'CZK', 'DKK',
       'American Dollars', 'Php', 'PLN (Polish zloty)', 'czech crowns',
       'TRY', 'Norwegian kroner (NOK)', 'CNY', 'ILS/NIS', nan,
       'US Dollar', 'BRL', 'NIS (new Israeli shekel)',
       'RMB (chinese yuan)', 'AUD', 'JPY', 'Taiwanese dollars',
       'Philippine Peso', 'SGD', 'KRW (Korean Won)', 'Czk', 'THB', 'IDR ',
       'Sgd', 'Nok', 'NZD', 'DKK ', 'China RMB', 'AUD Australian ', 'LKR',
       'Polish Złoty', 'Philippine peso (PHP)', 'Australian Dollars ',
       'PHP', 'Equity', 'ARS', 'Argentinian peso (ARS)',
       'Israeli Shekels', 'ILS', 'MXN', 'PhP (Philippine Peso)', 'PLN',
       'KRW', 'SAR', 'RM', 'IDR', 'Argentine Peso', 'Philippine Pesos',
       'Ils', 'INR (Indian Rupee)', 'Danish Kroner', 'Korean Won ',
       'Euro', 'SGD ', 'NTD', 'Mexican Pesos', 'THAI  BAHT', 'Thai Baht ',
       'croatian kuna', 'PLN (Zwoty)', 'Rupees', 'Singapore Dollara',
       'NGN', 'Rupees ', 'TZS', 'Pesos Colombianos', 'Thai Baht', 'ZMW',
       'inr', 'COP'], dtype=object)

In [474]:
mask_completados_moneda = (
    df["moneda"].isna() &
    df["otra_moneda"].notna()
)

In [475]:
df[df["moneda"] == "Other"][
    ["moneda", "otra_moneda"]
].head(20)

     moneda     otra_moneda
434   Other             INR
603   Other  Peso Argentino
1311  Other             MYR
1840  Other             CHF
1924  Other             NOK
2054  Other             NOK
2473  Other             USD
2639  Other             BR$
2980  Other             SEK
3162  Other             Dkk
3261  Other             EUR
3937  Other             NOK
4264  Other             TTD
4499  Other   Indian rupees
4780  Other        BRL (R$)
4971  Other   Mexican pesos
5146  Other             CZK
5306  Other             CZK
5396  Other             GBP
5729  Other             NOK

### MAPEO DE VARIABLE DE MONEDA Y OTRA_MONEDA
 existen diferentes monedas, pero con diferentes variables en mayusculas minusculas escritas de diferente forma, por lo que se mapean los registros existentes para parametrizar.

In [476]:
currency_map = {

    # USD
    "USD": "USD",
    "US Dollar": "USD",
    "American Dollars": "USD",

    # GBP
    "GBP": "GBP",

    # EUR
    "EUR": "EUR",
    "Euro": "EUR",

    # CAD
    "CAD": "CAD",

    # AUD / NZD
    "AUD": "AUD",
    "AUD Australian ": "AUD",
    "Australian Dollars ": "AUD",
    "NZD": "NZD",
    "AUD/NZD": "AUD",
    "AUD Australian": "AUD",
    "Australian Dollars": "AUD",

    # INR
    "INR": "INR",
    "inr": "INR",
    "Indian rupees": "INR",
    "INR (Indian Rupee)": "INR",
    "Rupees": "INR",
    "Rupees ": "INR",

    # BRL
    "BR$": "BRL",
    "BRL": "BRL",
    "BRL (R$)": "BRL",

    # ARS
    "Peso Argentino": "ARS",
    "Argentine Peso": "ARS",
    "Argentinian peso (ARS)": "ARS",
    "ARS": "ARS",

    # MXN
    "Mexican pesos": "MXN",
    "Mexican Pesos": "MXN",
    "MXN": "MXN",

    # DKK
    "Dkk": "DKK",
    "DKK": "DKK",
    "DKK ": "DKK",
    "Danish Kroner": "DKK",

    # NOK
    "NOK": "NOK",
    "Nok": "NOK",
    "Norwegian kroner (NOK)": "NOK",

    # SEK
    "SEK": "SEK",

    # CHF
    "CHF": "CHF",

    # ZAR
    "ZAR": "ZAR",

    # HKD
    "HKD": "HKD",

    # JPY
    "JPY": "JPY",

    # SGD
    "SGD": "SGD",
    "Sgd": "SGD",
    "SGD ": "SGD",
    "Singapore Dollara": "SGD",

    # ILS
    "ILS": "ILS",
    "Ils": "ILS",
    "ILS/NIS": "ILS",
    "NIS (new Israeli shekel)": "ILS",
    "Israeli Shekels": "ILS",

    # PHP
    "Php": "PHP",
    "PHP": "PHP",
    "PhP (Philippine Peso)": "PHP",
    "Philippine Peso": "PHP",
    "Philippine peso (PHP)": "PHP",
    "Philippine Pesos": "PHP",

    # PLN
    "PLN": "PLN",
    "PLN (Polish zloty)": "PLN",
    "Polish Złoty": "PLN",
    "PLN (Zwoty)": "PLN",

    # CZK
    "CZK": "CZK",
    "Czk": "CZK",
    "czech crowns": "CZK",

    # TRY
    "TRY": "TRY",

    # CNY
    "CNY": "CNY",
    "RMB (chinese yuan)": "CNY",
    "China RMB": "CNY",

    # KRW
    "KRW": "KRW",
    "KRW (Korean Won)": "KRW",
    "Korean Won ": "KRW",

    # THB
    "THB": "THB",
    "THAI  BAHT": "THB",
    "Thai Baht": "THB",
    "Thai Baht ": "THB",

    # IDR
    "IDR": "IDR",
    "IDR ": "IDR",

    # SAR
    "SAR": "SAR",

    # COP
    "Pesos Colombianos": "COP",
    "COP": "COP",

    # Otros
    "LKR": "LKR",
    "NGN": "NGN",
    "TZS": "TZS",
    "ZMW": "ZMW",
    "MYR": "MYR",
    "TTD": "TTD",
    "NTD": "TWD",
    "Taiwanese dollars": "TWD",
    "Korean Won": "KRW",
    "RM": "MYR",
    "croatian kuna": "HRK",
}

In [477]:
df["moneda_total_clean"] = (
    df["moneda_total"]
    .str.strip()
    .replace(currency_map)
)

In [478]:
print("Monedas únicas limpias:",
      df["moneda_total_clean"].nunique())

df["moneda_total_clean"].unique()

Monedas únicas limpias: 38

array(['USD', 'GBP', 'CAD', 'EUR', 'AUD', 'INR', 'ARS', 'CHF', 'MYR',
       'ZAR', 'SEK', 'HKD', 'NOK', 'BRL', 'DKK', 'TTD', 'MXN', 'CZK',
       'PHP', 'PLN', 'TRY', 'CNY', 'ILS', nan, 'JPY', 'TWD', 'SGD', 'KRW',
       'THB', 'IDR', 'NZD', 'LKR', 'Equity', 'SAR', 'HRK', 'NGN', 'TZS',
       'COP', 'ZMW'], dtype=object)

In [479]:
df = df[df["moneda_total_clean"] != "Equity"]
df = df[df["moneda_total_clean"] != "ILS"]
df = df[df["moneda_total_clean"].notna()]

In [480]:
print(
    "Monedas únicas limpias:",
    df["moneda_total_clean"].nunique()
)

df["moneda_total_clean"].unique()

Monedas únicas limpias: 36

array(['USD', 'GBP', 'CAD', 'EUR', 'AUD', 'INR', 'ARS', 'CHF', 'MYR',
       'ZAR', 'SEK', 'HKD', 'NOK', 'BRL', 'DKK', 'TTD', 'MXN', 'CZK',
       'PHP', 'PLN', 'TRY', 'CNY', 'JPY', 'TWD', 'SGD', 'KRW', 'THB',
       'IDR', 'NZD', 'LKR', 'SAR', 'HRK', 'NGN', 'TZS', 'COP', 'ZMW'],
      dtype=object)

### OBTENER CONVERSION DE MONEDAS
se obtinen la conversión de cada una de las monedas a USD con el fin de luego usar la TRM para realizar el cambio  a persos colombianos.

In [481]:
fx_to_usd = {

    "USD": 1,
    "GBP": 1.27,
    "EUR": 1.09,
    "CAD": 0.74,
    "AUD": 0.66,
    "NZD": 0.61,
    "CHF": 1.10,
    "SEK": 0.095,
    "NOK": 0.093,
    "DKK": 0.145,

    "MXN": 0.058,
    "BRL": 0.20,
    "ARS": 0.0012,
    "COP": 0.00027,

    "INR": 0.012,
    "MYR": 0.21,
    "SAR": 0.27,

    "CNY": 0.14,
    "JPY": 0.0067,
    "KRW": 0.00075,
    "TWD": 0.032,
    "HKD": 0.128,
    "SGD": 0.74,

    "THB": 0.028,
    "IDR": 0.000064,
    "PHP": 0.018,
    "PLN": 0.25,
    "CZK": 0.044,
    "TRY": 0.031,

    "ZAR": 0.053,
    "NGN": 0.00062,
    "TZS": 0.00040,
    "ZMW": 0.038,
    "LKR": 0.0031,
    "HRK": 0.15,
    "TTD": 0.15
}

In [482]:
# Factor de conversión a USD según moneda
df["fx_to_usd"] = df["moneda_total_clean"].map(fx_to_usd)

# Validaciones
print("Filas totales:", len(df))
print("Filas sin tasa fx_to_usd:", df["fx_to_usd"].isna().sum())

if df["fx_to_usd"].isna().any():
    print("Monedas sin tasa (revisar fx_to_usd):")
    print(df.loc[df["fx_to_usd"].isna(), "moneda_total_clean"].value_counts())

Filas totales: 27550
Filas sin tasa fx_to_usd: 0

In [483]:
df = df.rename(columns={
    "salario_anual_usd": "salario_anual_monto",
    "compensacion_usd": "compensacion_monto"
})

In [484]:
TRM = 3670

df["salario_usd"] = df["salario_anual_monto"] * df["fx_to_usd"]
df["compensacion_usd"] = df["compensacion_monto"] * df["fx_to_usd"]

df["salario_cop"] = df["salario_usd"] * TRM
df["compensacion_cop"] = df["compensacion_usd"] * TRM
df["total_compensacion_cop"] = df["salario_cop"] + df["compensacion_cop"]

In [485]:
df[["moneda_total_clean","fx_to_usd","salario_anual_monto","salario_usd","salario_cop"]].head(10)

  moneda_total_clean  fx_to_usd  salario_anual_monto  salario_usd  salario_cop
0                USD       1.00                55000      55000.0  201850000.0
1                GBP       1.27                54600      69342.0  254485140.0
2                USD       1.00                34000      34000.0  124780000.0
3                USD       1.00                62000      62000.0  227540000.0
4                USD       1.00                60000      60000.0  220200000.0
5                USD       1.00                62000      62000.0  227540000.0
6                USD       1.00                33000      33000.0  121110000.0
7                USD       1.00                50000      50000.0  183500000.0
8                USD       1.00               112000     112000.0  411040000.0
9                USD       1.00                45000      45000.0  165150000.0

#### Validacion de la columna ciudad - estado - pais

In [486]:
print(" Numero de paises totales: " ,df["pais"].nunique())
df["pais"].unique()

print(" Numero de ciudades totales: " ,df["ciudad"].nunique())
df["ciudad"].unique()


print(" Numero de estado_pais totales: " ,df["estado_pais"].nunique())
df["estado_pais"].unique()

 Numero de paises totales:  380
 Numero de ciudades totales:  4783
 Numero de estado_pais totales:  135

array(['Massachusetts', nan, 'Tennessee', 'Wisconsin', 'South Carolina',
       'New Hampshire', 'Arizona', 'Missouri', 'Florida', 'Pennsylvania',
       'Michigan', 'Illinois', 'California', 'Georgia', 'Ohio',
       'District of Columbia', 'Maryland', 'Texas', 'Minnesota',
       'Virginia', 'North Carolina', 'New York', 'New Jersey',
       'Rhode Island', 'Colorado', 'Oregon', 'Washington', 'Indiana',
       'Iowa', 'Nebraska', 'Oklahoma', 'Maine', 'Connecticut',
       'South Dakota', 'West Virginia', 'Idaho', 'Louisiana', 'Montana',
       'Kentucky', 'North Dakota', 'Kansas', 'Vermont', 'Arkansas',
       'Alabama', 'Nevada', 'Delaware', 'New Mexico', 'Hawaii', 'Utah',
       'Mississippi', 'Kentucky, Ohio', 'District of Columbia, Virginia',
       'District of Columbia, Maryland', 'Alaska', 'Arizona, Washington',
       'Georgia, New York', 'California, Colorado', 'California, Oregon',
       'District of Columbia, Maryland, Pennsylvania, Virginia',
       'Arizona, California', 'North Carolina, Utah', 'Wyoming',
       'Ohio, Wyoming', 'Georgia, Tennessee', 'Massachusetts, Oregon',
       'Alabama, Montana', 'Alabama, District of Columbia',
       'California, Pennsylvania', 'New Jersey, Pennsylvania',
       'Georgia, Washington', 'Alaska, Maryland',
       'Michigan, South Carolina', 'Massachusetts, Rhode Island',
       'Georgia, Minnesota', 'Colorado, Nevada',
       'Maine, Massachusetts, New Hampshire, North Carolina',
       'Alabama, Minnesota, Nevada', 'New Jersey, New York',
       'Arizona, Utah', 'Alabama, Kansas', 'California, Oklahoma',
       'Illinois, Wisconsin', 'Illinois, Kentucky',
       'Arizona, California, Nevada, Texas',
       'Alaska, Idaho, Oregon, Utah, Washington',
       'Massachusetts, Pennsylvania', 'Nevada, Oregon',
       'New Jersey, Virginia', 'Colorado, Massachusetts',
       'District of Columbia, Maryland, Virginia',
       'Massachusetts, Vermont', 'Massachusetts, New Hampshire',
       'Arkansas, Iowa, Massachusetts, Ohio, Wyoming', 'New York, Texas',
       'California, Montana', 'Iowa, Utah, Vermont', 'Texas, Virginia',
       'Utah, Vermont', 'Arkansas, Illinois', 'Georgia, Massachusetts',
       'Maryland, Virginia', 'Florida, Georgia, South Carolina',
       'Arkansas, Idaho, Kansas, Louisiana, Michigan, Mississippi, Nevada, New York, South Carolina, Tennessee, Washington',
       'California, Texas', 'Indiana, Ohio', 'Ohio, Washington',
       'Kansas, Missouri', 'Colorado, Illinois',
       'Arizona, Hawaii, Illinois, Michigan, Utah, Wyoming',
       'California, New Jersey', 'Louisiana, Washington',
       'Maryland, New York', 'District of Columbia, Washington',
       'Delaware, Pennsylvania', 'Illinois, North Carolina',
       'Indiana, Massachusetts', 'Florida, New Hampshire, Wisconsin',
       'Pennsylvania, Rhode Island', 'New York, Oregon, Vermont',
       'Iowa, Nebraska', 'California, New York', 'Arizona, New York',
       'California, District of Columbia, Illinois, Iowa, Maryland, Minnesota',
       'Oregon, Washington', 'New York, Virginia',
       'Mississippi, Missouri', 'California, Maryland',
       'California, Illinois, Massachusetts, North Carolina, South Carolina, Virginia',
       'Alabama, California', 'Michigan, Texas, Washington',
       'Alabama, Oregon', 'Alabama, Alaska, Arizona',
       'Alabama, South Carolina', 'Utah, Wisconsin',
       'Delaware, Louisiana', 'Florida, Georgia'], dtype=object)

In [487]:


def norm_country_raw(x):
    if pd.isna(x):
        return np.nan
    x = str(x).strip()
    x = re.sub(r"\s+", " ", x)
    if x == "":
        return np.nan
    return x

def norm_key(x):
    if pd.isna(x):
        return np.nan
    x = str(x).strip().lower()
    x = "".join(c for c in unicodedata.normalize("NFD", x) if unicodedata.category(c) != "Mn")
    x = re.sub(r"\s+", " ", x)
    return x

df["pais_raw"] = df["pais"].apply(norm_country_raw)
df["pais_key"] = df["pais_raw"].apply(norm_key)

#### Patron para eliminar datos duplicados

In [488]:
bad_patterns = [
    r"we don't get raises",
    r"i work for",
    r"i am located",
    r"worldwide",
    r"global",
    r"remote",
    r"currently",
    r"policy",
    r"contracts",
    r"deducted",
    r"commission",
    r"quarterly",
    r"bonus",
    r"salary",
    r"benefits",
    r"country withheld",
    r"ss$|dbfemf|loutreland|uxz",   # basura evidente
    r"^\$",
    r"usd$",                       # 'USD' no es país
    r"^y$",
    r"^na$",
    r"^n/a",
]

bad_regex = re.compile("|".join(bad_patterns), re.IGNORECASE)

df["pais_no_pais"] = (
    df["pais_raw"].astype(str).str.len().gt(35) |
    df["pais_raw"].astype(str).str.contains(bad_regex, na=False) |
    df["pais_raw"].astype(str).str.contains(r"\d", na=False)  # números en país
)

### MAPEOS DE LOS PAISES

In [489]:
country_map = {

    "us": "United States",
    "u.s.": "United States",
    "u.s": "United States",
    "u s": "United States",
    "usa": "United States",
    "u.s.a": "United States",
    "u.s.a.": "United States",
    "the us": "United States",
    "the united states": "United States",
    "united states": "United States",
    "united states ": "United States",
    "united states of america": "United States",
    "united state": "United States",
    "united state of america": "United States",
    "america": "United States",
    "unitedstates": "United States",
    "united  states": "United States",
    "unites states": "United States",
    "uniter statez": "United States",
    "uniteed states": "United States",
    "united statws": "United States",
    "united sates": "United States",
    "united sttes": "United States",
    "united stares": "United States",
    "united statss": "United States",
    "united statees": "United States",
    "united statesp": "United States",
    "united stated": "United States",
    "united stateds": "United States",
    "unitied states": "United States",
    "unted states": "United States",
    "untied states": "United States",
    "us of a": "United States",
    "🇺🇸": "United States",

    "uk": "United Kingdom",
    "u.k.": "United Kingdom",
    "u.k": "United Kingdom",
    "united kingdom": "United Kingdom",
    "england": "United Kingdom",
    "scotland": "United Kingdom",
    "wales": "United Kingdom",
    "northern ireland": "United Kingdom",
    "great britain": "United Kingdom",
    "britain": "United Kingdom",

    "netherlands": "Netherlands",
    "the netherlands": "Netherlands",
    "nederland": "Netherlands",
    "nl": "Netherlands",

    "canada": "Canada",
    "canadw": "Canada",
    "canda": "Canada",
    "csnada": "Canada",
    "canad": "Canada",
    "canadá": "Canada",

    "australia": "Australia",
    "australian": "Australia",
    "new zealand": "New Zealand",
    "aotearoa new zealand": "New Zealand",
    "nz": "New Zealand",

    "czech republic": "Czechia",
    "česká republika": "Czechia",
    "czechia": "Czechia",

    "uae": "United Arab Emirates",
    "united arab emirates": "United Arab Emirates",

    "puerto rico": "Puerto Rico",
    "hong kong": "Hong Kong",
    "taiwan": "Taiwan",

    "france": "France",
    "germany": "Germany",
    "ireland": "Ireland",
    "finland": "Finland",
    "switzerland": "Switzerland",
    "denmark": "Denmark",
    "sweden": "Sweden",
    "norway": "Norway",
    "spain": "Spain",
    "portugal": "Portugal",
    "poland": "Poland",
    "italy": "Italy",
    "austria": "Austria",
    "belgium": "Belgium",
    "croatia": "Croatia",
    "cyprus": "Cyprus",
    "estonia": "Estonia",
    "hungary": "Hungary",
    "latvia": "Latvia",
    "lithuania": "Lithuania",
    "luxembourg": "Luxembourg",
    "malta": "Malta",
    "romania": "Romania",
    "serbia": "Serbia",
    "slovakia": "Slovakia",
    "slovenia": "Slovenia",
    "ukraine": "Ukraine",
    "russia": "Russia",

    "argentina": "Argentina",
    "brazil": "Brazil",
    "chile": "Chile",
    "colombia": "Colombia",
    "costa rica": "Costa Rica",
    "ecuador": "Ecuador",
    "jamaica": "Jamaica",
    "mexico": "Mexico",
    "panama": "Panama",
    "panamá": "Panama",
    "trinidad and tobago": "Trinidad and Tobago",
    "uruguay": "Uruguay",

    "china": "China",
    "mainland china": "China",
    "india": "India",
    "indonesia": "Indonesia",
    "israel": "Israel",
    "japan": "Japan",
    "jordan": "Jordan",
    "kuwait": "Kuwait",
    "malaysia": "Malaysia",
    "pakistan": "Pakistan",
    "philippines": "Philippines",
    "qatar": "Qatar",
    "saudi arabia": "Saudi Arabia",
    "singapore": "Singapore",
    "south korea": "South Korea",
    "sri lanka": "Sri Lanka",
    "thailand": "Thailand",
    "vietnam": "Vietnam",

    "ghana": "Ghana",
    "kenya": "Kenya",
    "morocco": "Morocco",
    "nigeria": "Nigeria",
    "south africa": "South Africa",
    "tanzania": "Tanzania",
    "uganda": "Uganda",
    "zambia": "Zambia",
    "zimbabwe": "Zimbabwe",

    "united arab emirates": "United Arab Emirates",
    "saudi arabia": "Saudi Arabia",
    "qatar": "Qatar",
}

In [490]:
df["pais_clean"] = df["pais_key"].map(country_map)

df["pais_invalido"] = df["pais_clean"].isna() | df["pais_no_pais"]
print("Registros inválidos (se eliminarán):", df["pais_invalido"].sum())

df = df[~df["pais_invalido"]].copy()

Registros inválidos (se eliminarán): 162

In [491]:
df.loc[df["pais_clean"].isna(), "pais_raw"].value_counts().head(50)

Series([], Name: count, dtype: int64)

In [492]:
print(" Numero de paises totales: " ,df["pais_clean"].nunique())
df["pais_clean"].unique()

 Numero de paises totales:  76

array(['United States', 'United Kingdom', 'Canada', 'Netherlands',
       'Australia', 'Finland', 'France', 'Germany', 'Ireland', 'India',
       'Argentina', 'Denmark', 'Spain', 'Switzerland', 'Malaysia',
       'Mexico', 'South Africa', 'Belgium', 'Sweden', 'Hong Kong',
       'Kuwait', 'Norway', 'Sri Lanka', 'Austria', 'Brazil', 'Hungary',
       'Luxembourg', 'Colombia', 'New Zealand', 'Trinidad and Tobago',
       'Czechia', 'Latvia', 'Puerto Rico', 'United Arab Emirates',
       'Romania', 'Serbia', 'Philippines', 'Russia', 'Poland', 'China',
       'Japan', 'Taiwan', 'Vietnam', 'Singapore', 'South Korea',
       'Thailand', 'Israel', 'Lithuania', 'Indonesia', 'Italy',
       'Slovenia', 'Slovakia', 'Portugal', 'Costa Rica', 'Chile', 'Qatar',
       'Nigeria', 'Panama', 'Uruguay', 'Pakistan', 'Uganda', 'Malta',
       'Saudi Arabia', 'Estonia', 'Morocco', 'Ecuador', 'Zimbabwe',
       'Ghana', 'Croatia', 'Ukraine', 'Jamaica', 'Kenya', 'Jordan',
       'Cyprus', 'Tanzania', 'Zambia'], dtype=object)

In [493]:
df = df.drop(columns=["pais_raw", "pais_key", "pais_no_pais", "pais_invalido"])
df = df.drop(columns=["pais"])
df = df.rename(columns={"pais_clean": "pais"})

In [494]:
capital_map = {
    "United States": "Washington, D.C.",
    "Canada": "Ottawa",
    "Mexico": "Mexico City",
    "Puerto Rico": "San Juan",
    "Trinidad and Tobago": "Port of Spain",
    "Jamaica": "Kingston",
    "Costa Rica": "San José",
    "Panama": "Panama City",
    "Argentina": "Buenos Aires",
    "Brazil": "Brasília",
    "Chile": "Santiago",
    "Colombia": "Bogotá",
    "Ecuador": "Quito",
    "Uruguay": "Montevideo",
    "United Kingdom": "London",
    "Netherlands": "Amsterdam",
    "Finland": "Helsinki",
    "France": "Paris",
    "Germany": "Berlin",
    "Ireland": "Dublin",
    "Denmark": "Copenhagen",
    "Spain": "Madrid",
    "Switzerland": "Bern",
    "Belgium": "Brussels",
    "Sweden": "Stockholm",
    "Norway": "Oslo",
    "Austria": "Vienna",
    "Hungary": "Budapest",
    "Luxembourg": "Luxembourg",
    "Czechia": "Prague",
    "Latvia": "Riga",
    "Romania": "Bucharest",
    "Serbia": "Belgrade",
    "Poland": "Warsaw",
    "Lithuania": "Vilnius",
    "Italy": "Rome",
    "Slovenia": "Ljubljana",
    "Slovakia": "Bratislava",
    "Portugal": "Lisbon",
    "Estonia": "Tallinn",
    "Croatia": "Zagreb",
    "Ukraine": "Kyiv",
    "Cyprus": "Nicosia",
    "Malta": "Valletta",
    "Russia": "Moscow",
    "India": "New Delhi",
    "Malaysia": "Kuala Lumpur",
    "Kuwait": "Kuwait City",
    "Sri Lanka": "Sri Jayawardenepura Kotte",
    "Philippines": "Manila",
    "China": "Beijing",
    "Japan": "Tokyo",
    "Taiwan": "Taipei",
    "Vietnam": "Hanoi",
    "Singapore": "Singapore",
    "South Korea": "Seoul",
    "Thailand": "Bangkok",
    "Israel": "Jerusalem",
    "Indonesia": "Jakarta",
    "Pakistan": "Islamabad",
    "Jordan": "Amman",
    "United Arab Emirates": "Abu Dhabi",
    "Qatar": "Doha",
    "Saudi Arabia": "Riyadh",
    "South Africa": "Pretoria",
    "Nigeria": "Abuja",
    "Uganda": "Kampala",
    "Morocco": "Rabat",
    "Zimbabwe": "Harare",
    "Ghana": "Accra",
    "Kenya": "Nairobi",
    "Tanzania": "Dodoma",
    "Zambia": "Lusaka",
    "Australia": "Canberra",
    "New Zealand": "Wellington",
    "Hong Kong": "Hong Kong",
}

In [495]:
import numpy as np
import pandas as pd

mask_ciudad_falta = df["ciudad"].isna() | (df["ciudad"].astype(str).str.strip() == "")

df["ciudad_clean"] = df["ciudad"].where(~mask_ciudad_falta, df["pais"].map(capital_map))

# Flag para documentar qué filas fueron imputadas
df["ciudad_imputada_capital"] = mask_ciudad_falta

In [496]:
df["ciudad_imputada_capital"].value_counts()

ciudad_imputada_capital
False    27379
True         9
Name: count, dtype: int64

In [497]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 27388 entries, 0 to 28190
Data columns (total 26 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   rango_edad                 27388 non-null  object
 1   industria                  27388 non-null  object
 2   nombre_trabajo             27388 non-null  object
 3   moneda                     27388 non-null  object
 4   otra_moneda                192 non-null    object
 5   info_adicionales_ingresos  2967 non-null   object
 6   estado_pais                22595 non-null  object
 7   ciudad                     27388 non-null  object
 8   experiencia_general        27388 non-null  object
 9   experiencia_campo          27388 non-null  object
 10  nivel_educacion            27388 non-null  object
 11  genero                     27388 non-null  object
 12  etnia                      27388 non-null  object
 13  salario_anual_monto        27388 non-null  int64
 14  compensacion_monto         27388 non-null  float64
 15  moneda_total               27388 non-null  object
 16  moneda_total_clean         27388 non-null  object
 17  fx_to_usd                  27388 non-null  float64
 18  salario_usd                27388 non-null  float64
 19  compensacion_usd           27388 non-null  float64
 20  salario_cop                27388 non-null  float64
 21  compensacion_cop           27388 non-null  float64
 22  total_compensacion_cop     27388 non-null  float64
 23  pais                       27388 non-null  object
 24  ciudad_clean               27388 non-null  object
 25  ciudad_imputada_capital    27388 non-null  bool
dtypes: bool(1), float64(7), int64(1), object(17)
memory usage: 5.5+ MB

In [498]:
mask_outliers_salario = df["salario_usd"] > 800_000
mask_outliers_salario.sum()

np.int64(33)

In [499]:
df.loc[
    mask_outliers_salario,
    ["pais", "industria", "nombre_trabajo", "salario_usd"]
].sort_values("salario_usd", ascending=False).head(50)

,pais,industria,nombre_trabajo,salario_usd
28055,Canada,"Accounting, Banking & Finance",Investment Banking Analyst,4.440052e+09
3605,Colombia,Utilities & Telecommunications,Operations Manager,1.020000e+08
28113,Colombia,Health care,Analista de actuaria,5.220000e+07
26466,United States,Sales,Inside sales manager,5.000044e+06
28030,China,"Accounting, Banking & Finance",student,5.000000e+06
2124,United States,Art & Design,Owner and CEO,3.000000e+06
15509,Singapore,Computing or Tech,Product Manager,2.111538e+06
28084,Taiwan,Social networks,Content creator,2.000000e+06
5755,United States,Health care,Attending Physician (general internal medicine),1.900000e+06
6783,United States,Computing or Tech,Principal Software Engineer,1.650000e+06
28094,Germany,Computing or Tech,Cyber Security Management,1.635000e+06
9238,United States,Government and Public Administration,Senior Policy Advisor,1.334782e+06
17708,United States,Business or Consulting,Senior Consultant,1.260000e+06
24955,United States,Health care,Marketing Manager,1.250000e+06
14207,United Kingdom,Computing or Tech,Consultant,1.206500e+06
11134,United States,Law,Partner,1.200000e+06
5581,United Kingdom,Agriculture or Forestry,Agricultural Supply line Negotiating consultant,1.155700e+06
4206,United States,Engineering or Manufacturing,Software Engineer,1.100000e+06
21293,India,Ipr,Sr. Research associate,1.100000e+06
16165,United States,Law,Partner,1.100000e+06
28147,India,Engineering or Manufacturing,Data Analyst,1.000000e+06
22823,United States,Computing or Tech,Business Systems Analyst III,9.540000e+05
17209,United States,Computing or Tech,"Director, Software Development",9.500000e+05
16150,Germany,Computing or Tech,Lead developer,9.265000e+05
27200,United States,Law,Partner,9.250000e+05
21653,United States,Computing or Tech,Project Manager,9.200000e+05
14072,Norway,Oil,Purchaser,8.750300e+05
11628,United States,Computing or Tech,Software Engineer,8.750000e+05
18576,United States,Computing or Tech,Senior Software Development Manager,8.680000e+05
21425,United States,Entertainment,Marketing Manager,8.600000e+05
14523,United States,"Accounting, Banking & Finance",Senior Financial Analyst,8.500000e+05
14647,United States,"Marketing, Advertising & PR",Strategic Manager of Communications,8.350000e+05
1905,United States,Health care,RN,8.320000e+05

In [502]:
mask_outliers_compensacion = df["compensacion_usd"] > 500_000
mask_outliers_compensacion.sum()

np.int64(23)

In [503]:
df.loc[
    mask_outliers_compensacion,
    ["pais", "industria", "nombre_trabajo", "compensacion_usd"]
].sort_values("compensacion_usd", ascending=False).head(50)

,pais,industria,nombre_trabajo,compensacion_usd
26935,United States,"Accounting, Banking & Finance",Managing Director,1500000.0
18279,United States,"Accounting, Banking & Finance",Security Engineer,1400000.0
18322,United States,"Accounting, Banking & Finance",Security Engineer,1400000.0
11997,United States,Computing or Tech,Product Manager,1200000.0
11978,United States,Computing or Tech,Product Manager,1200000.0
20420,United States,Computing or Tech,Senior staff software engineer,1000000.0
23736,United States,Computing or Tech,Senior Business Systems Analyst,1000000.0
15275,United States,Computing or Tech,UX Designer,900000.0
18590,United States,Computing or Tech,Principal Engineer,900000.0
18237,United States,Computing or Tech,Senior Engineering Manager,900000.0
1343,United States,Computing or Tech,Software Development Manager,850000.0
18044,United States,Computing or Tech,Director of Engineering,830000.0
24175,United States,Computing or Tech,Principal Program Manager,800000.0
17800,United States,Computing or Tech,Data Scientist,800000.0
20741,United States,Computing or Tech,Manager of Data Science,780000.0
25540,United States,Computing or Tech,General Manager,700000.0
18442,United States,Computing or Tech,Director,700000.0
18448,United States,Computing or Tech,Head of Software Engineering,600000.0
11011,United States,Engineering or Manufacturing,Director of engineering,600000.0
18046,United States,Computing or Tech,Engineering Manager,600000.0
18393,United States,Computing or Tech,Staff Software Engineer,600000.0
18560,United States,Computing or Tech,Staff Software Engineer,588000.0
10533,United States,Computing or Tech,Senior Product Manager,515000.0

In [525]:
p1_salario = df["salario_usd"].quantile(0.01)
p95_salario = df["salario_usd"].quantile(0.95)

print("P1:", p1_salario)
print("P95:", p95_salario)

P1: 16348.221600000003
P95: 179538.8999999992

In [526]:
p5_compensacion  = df["compensacion_usd"].quantile(0.05)
p95_compensacion = df["compensacion_usd"].quantile(0.95)

print("P5:", p5_compensacion)
print("P95:", p95_compensacion)

P5: 0.0
P95: 35000.0

In [527]:
df_trim = df[
    (df["salario_usd"] >= p1_salario) &
    (df["salario_usd"] <= p95_salario)
].copy()

In [528]:
df_trim = df_trim[
    (df_trim["compensacion_usd"] <= p95_compensacion)
].copy()

In [529]:
print("Antes:", len(df))
print("Después:", len(df_trim))
print("Eliminados:", len(df) - len(df_trim))

Antes: 27388
Después: 24963
Eliminados: 2425

In [530]:
df_trim["salario_usd"].describe()

count     24963.000000
mean      77483.211320
std       33684.348713
min       16350.000000
25%       52000.000000
50%       70300.000000
75%       97000.000000
max      179301.000000
Name: salario_usd, dtype: float64

In [531]:
df_trim["compensacion_usd"].describe()

count    24963.000000
mean      3403.690970
std       6334.937455
min          0.000000
25%          0.000000
50%          0.000000
75%       4187.500000
max      35000.000000
Name: compensacion_usd, dtype: float64

In [532]:
df_trim = df_trim.reset_index(drop=True)

df_trim.index = df_trim.index + 1
df_trim.index.name = "id"

df_trim.to_excel(
    "salary_survey_modelado.xlsx",
    index=False
)